<!DOCTYPE html>
<html ng-app="travelApp">
  <head>
    <meta charset="utf-8">
    <link rel="stylesheet" type="text/css" href="styles.css">
    <title></title>
  </head>
  <body ng-controller="mainCtrl">

<button ng-model="test" ng-click="getLocalBusinesses()">test</button>





  <script src="http://cdnjs.cloudflare.com/ajax/libs/angular.js/1.2.20/angular.min.js"></script>
  <script src="./app.js"></script>
  <script src="./mainCtrl.js"></script>
  <script src="./service.js"></script>
  </body>
</html>
