.nav-bar{
  background-color: grey;
}


#map_container{
  display: flex;
  justify-content: center;
  align-items: center;
}


  #map {
    height: 62vh;
    width: 93%;
    border: solid grey 2px;
   }


   .map-title{
     margin-top:10px;
     margin-bottom: 10px;
     padding-top: 10px;
     padding-bottom: 0px;
     font-size: 30px;
     display: flex;
     justify-content: center;
     align-items: center;

   }

   .map-background{
     margin-top: -30px;
     position: relative;
     background-color: rgb(119, 137, 175);
     padding-bottom:3vh;
     background-size: cover;

   }

.mapImg{
  margin-top: 15px;
  margin-bottom: 15px;
  margin-left: 15px;
  height: 150px;
  width: 250px;

  ;
}

.attContain{
display: flex;
flex-direction: row;
margin: 2vh 5vw 2vh 5vw;
border: solid black 2px;
background-color: white;
position: relative;

}

.attName {
  margin-top: 8px;
  margin-left: 25px;
  font-size: 40px;
  margin-right: 10vw;
  text-align: left;
}

.attBox{

text-align: right;
position: absolute;
right: 0;
margin-right: 25px;
}


.map-search-container {
  background-color: grey;
    border: solid black 2px;
    height: 500px;
    overflow: scroll;
  }

li{
  list-style-type: none;
}





.map-results {
  margin-top: 10px;
}
