


.spotImg{
  margin-left: 10px;
  margin-right: 10px;
  margin-top: 15px;
  height: 30vh;
  width: 20vw;

  ;
}

.spotContain:hover{
display: flex;
flex-direction: row;
margin-top: 40px;
margin-left: 5px;
margin-right: 5px;
margin-bottom: 40px;
border: solid black 2px;
background-color: white;
position: relative;
transform: scale(1);
z-index: 5;
}



.spotContain{
display: flex;
flex-direction: row;
margin-top: 200px;
margin-left: 5px;
margin-right: 5px;
margin-bottom: 200px;
border: solid black 2px;
background-color: white;
position: relative;
transition: all .15s ease-in-out;
}

.spotName {
  margin-top: 8px;
  text-align: center;
  font-size: 30px;
}

.spotBox{
overflow: hidden;

}

.spotTitle{
position: absolute;
left: 40vw;
top: 15px;
font-size: 50px;
}

.spot-search-container {
  background-color:#7789AF;
    margin-top: 10px;
    height: 92vh;
    display:flex;
    flex-direction: row;
    width: 100vw;
    overflow: scroll;

  }

  .addButton{
    margin-top: 50px;
    align-items: center;
    padding: 10px;
    width: 200px;
    align-self: flex-end;
    position: absolute;
    bottom: 35px;
    left: 50%;
    transform: translate(-50%);
    background-color: silver;

  }



  /*                                          carosal                                                 */
