


.spotImg{
  margin-left: 10px;
  margin-right: 10px;
  margin-top: 15px;
  height: 30vh;
  width: 20vw;

  ;
}

.spotContain:hover{
display: flex;
flex-direction: row;
margin-top: 23px;
border: solid black 2px;
background-color: white;
position: relative;
transform: scale(1);
z-index: 5;
height: 93%;
}



.spotContain{
  border-radius: 3%;
display: flex;
flex-direction: row;
margin-top: 200px;
margin-left: 5px;
margin-right: 5px;
margin-bottom: 200px;
border: solid black 2px;
background-color: white;
position: relative;
transition: all .25s ease-in-out;
}

.spotName {
  margin-top: 13px;
  text-align: center;
  font-size: 30px;
  margin-bottom: 20px;
}

.spotBox{
overflow: hidden;
display: flex;
flex-direction: column;
align-items: center;
}

.spotTitle{
position: absolute;
left: 40vw;
top: 15px;
font-size: 50px;
}

.spot-search-container {
  background-color:rgba(142, 158, 171,0.1);
    margin-top: 10px;
    height: 92vh;
    display:flex;
    flex-direction: row;
    width: 101vw;
    overflow: scroll;

  }

  .addButton{
    margin-top: ;
    padding: 10px;
    width: 100px;

    background-color: #1DA1F2;
    color: white;
    font-size: 13px;
    border-radius: 13%;
    transition: all .25s ease-in-out;
  }

  .addButton:hover{
    margin-top: ;
    padding: 10px;
    width: 100px;
    transform: scale(1.2);
    background-color: #1DA1F2;
    color: white;
    font-size: 13px;
    border-radius: 13%;


  }


  .centerButton {
    display: flex;
    justify-content: center;
    align-items: flex-start;
  }

  .spotLocation {
    font-size: 20px;
  }

  .spotRate{
  }



  /*                                          carosal                                                 */






// Fonts
@import url(https://fonts.googleapis.com/css?family=Montserrat:400);
