<header>
    <nav>
        <ul>
            <!--Navigation section, this is where you will put your ui-sref's so you can naviagte to different views -->
            <!-- <li ui-sref="map"><a>Map</a></li> -->
            <div ui-sref= "home" class="logo">
               <img src="poop.jpg" />
            </div>
            <li ui-sref="spots"><a>Spots</a></li>

            <li ui-sref="list"><a>LIST</a></li>
            <li ui-sref="about"><a>ABOUT</a></li>
        </ul>
    </nav>
</header>
<div>
<h2>redirect to the bottom of home page ....... later</h2>
</div>
