<header>
    <nav>
        <ul>
            <!--Navigation section, this is where you will put your ui-sref's so you can naviagte to different views -->
            <!-- <li ui-sref="map"><a>Map</a></li> -->

            <div ui-sref= "home" class="logo">
               <img src="poop.jpg" />
            </div>
            <li ui-sref="spots"><a>Spots</a></li>
            <li ui-sref="list"><a> Your LIST</a></li>
            <li ng-click="scrollAbout()"><a>ABOUT</a></li>
        </ul>
    </nav>
</header>

<section class="view-container">
  <!-- //////////// -->

    <div id="about-bot" class="about-content">
      <h2 class="home-about-header">Random Travel Facts & About Center</h2>
  <p class="about-text">
    <br /><br />

Every 60 seconds, 146 cubic yards of sandcastles are being built worldwide.
The “smoke-line” left by an airplane is really water vapor. A longer lasting, wider line could be the tell-tale sign of an impending storm while a short lasting one indicates low-humidity air and fair weather.
Despite the movies, it’s impossible to open the plane’s door mid-flight. The cabin is so pressurized that it would take several strong people to push it open since it must be moved in and turned slightly before opening.
During an average lift off, a commercial jet takes off at 550-580 miles per hour.
The tallest mountain in the world, Mauna Kea, is located in Hawaii. It’s about twice the base to peak height of Mount Everest and when measured from the seafloor is over 32,000 feet high.
The word Pennsylvania is misspelled “Pensylvania” on the Liberty Bell, which tourists can now see in Philadelphia.
The city of Chicago is where the first ever ferris wheel was invented in the 1893 World’s Fair.
Battle Creek, Michigan makes more cereal than any other city in the world.
Montana has three times as many cows than it does people.
The Great Smoky Mountain National Park is actually the most visited national park in the United States!  They see anywhere between 8 and 10 million visitors a year. <br />
    <br /><br /><br />
    My name is Aj.Wietecha I am the son of Alika and Miran Wietecha and I have just started to get into coding. I find it really fun and entertaining and hopefully find a job later in the future revolving around this.
       I was born on June, 25th 1996 and later moved to the island of Oahu. You dont really have to read this, all its doing is acting like filler text but if you are still reading click the period at the end of the sentence for my SUPER SECRET FACEBOOK PAGE <a class="hiddenMsg" href="">.</a> </p>
  <!--   My name is Aj.Wietecha I am the son of Alika and Miran Wietecha and I have just started to get into coding. I may not be the best at coding but I find it really fun and entertaining and hopefully find a job later in the future revolving around this.
      I was born on June, 25th 1996 and later moved to the island of Oahu.  -->
    </div>
  <!-- //////////// -->
  <div class= "hero-image">
      <div class="video-container">
        <iframe id="video" width="100%" height="100%" src="https://www.youtube.com/embed/FZsxz9ZpKGI?autoplay=1&start=16&controls=0&loop=1&playlist=FZsxz9ZpKGI" frameborder="0"  allowfullscreen></iframe>

      </div>


  <h1 class="home-header">Greetings, Traveler</h1>
  <div class="searchBar">
    <form ui-sref="map({attraction:location})">
    <input type="text" class="search-bar-home form-control" ng-model="location" placeholder="Enter A City To Visit" />
    <button class="search-button btn btn-primary" ui-sref="map({attraction:location})"> Submit </button>
      </form>
  </div>

  </div>




</section>
