<header>
    <nav>
        <ul>
            <!--Navigation section, this is where you will put your ui-sref's so you can naviagte to different views -->
            <!-- <li ui-sref="map"><a>Map</a></li> -->
            <div ui-sref= "home" class="logo">
               <img src="./poop.jpg" />
            </div>
            <li ui-sref="spots"><a>Spots</a></li>

            <li ui-sref="list"><a>LIST</a></li>
            <li ui-sref="about"><a>ABOUT</a></li>
        </ul>
    </nav>
</header>
<div class="listHeroImage">

  <h1 class="listHeader"> Bucket list</h1>

<div class="listDisplay" ng-repeat="business in attractionList track by $index" id=$id>
  <h1 class="listName">{{business.name}}</h1>

  <img class="imgList" ng-src="{{business.image_url}}" />

  <h3>{{business.location.address1}}</h3>

  <h3>{{business.display_phone}}</h3>
  <button class="deleteButton" type="btn btn-danger" ng-click="deleteList()"> DELETE</button>

</div>
</div>
