
<section class="view-container">
<div class="map-background">


  <h3 class="map-title">Must See Spots</h3>
  <div id="map_container">
  <!-- this is the map -->
  <div id="map"></div>
  </div>

</div>

<div class="map-search-container">
  <h3 class="map-results">Attraction Nearby</h3>
  <div class="attContain" ng-repeat="business in businesses">

    <img class="mapImg" ng-src="{{business.image_url}}" />
    <h1 class="attName">{{business.name}}</h1>
    <div class="attBox">

      <h2 class="attNum">Phone Number: {{business.display_phone}}</h2>
      <h1 class="attLocation">{{business.location.address1}}</h1>
      <h2 class="attRate">Rating: {{business.rating}}</h2>


    </div>


  </div>
  <hr />
  </section>
