<nav class="nav-bar">
  <ul>
    <!--Navigation section, this is where you will put your ui-sref's so you can naviagte to different views -->
    <!-- <li ui-sref="map"><a>Map</a></li> -->
    <div ui-sref="home" class="logo">
      <img src="poop.jpg" />
    </div>
    <li ui-sref="spots({city:theCity})"><a>Spots</a></li>

    <li ui-sref="list"><a>Your LIST</a></li>
    <li ui-sref="about"><a>ABOUT</a></li>
  </ul>
</nav>s

<!-- nav end -->
<section class="view-container">
  <div class="map-background">


    <h3 class="map-title">Must See Spots in {{theCity}}</h3>
    <div id="map_container">
      <!-- this is the map -->
      <div id="map"></div>
    </div>

  </div>

  <div class="map-search-container">
    <h3 class="map-results">Attraction Nearby</h3>
    <div ng-click="scrollMap(marker)" id ="mapScroll" class="attContain" ng-repeat="business in businesses">
      <div class="mapImgContain">
      <img class="mapImg" ng-src="{{business.image_url}}" />
      </div>

      <h1  class="attName">{{business.name}}</h1>
      <div class="attBox">

        <h2 class="attNum">Phone Number: {{business.display_phone}}</h2>
        <h1 class="attLocation">{{business.location.address1}}</h1>

        <!-- <button type="button" name="button" ui-sref=({id: business.id})>See more details</button> -->


      </div>


    </div>
  </div>
    <hr />
</section>
