<header>
    <nav>
        <ul>
            <!--Navigation section, this is where you will put your ui-sref's so you can naviagte to different views -->
            <li ui-sref="map"><a>Map</a></li>
            <li ui-sref="spots"><a>Spots</a></li>
            <div ui-sref= "home" class="logo">
               <img src="./poop.jpg" />
            </div>
            <li ui-sref="list"><a>LIST</a></li>
            <li ui-sref="about"><a>ABOUT</a></li>
        </ul>
    </nav>
</header>

<section class="view-container">

  <div class="spot-search-container">

    <div class="spotContain" ng-repeat="business in businesses">


      <div class="spotBox">
        <img class="spotImg" ng-src="{{business.image_url}}" />
        <h1 class="spotName">{{business.name}}</h1>
        <h2 class="spotNum">Phone Number: {{business.display_phone}}</h2>
        <h1 class="spotLocation">{{business.location.address1}}</h1>
        <h2 class="spotRate">Rating: {{business.rating}}</h2>

        <button type="button" name="button" ng-click="addToAttractionList(business)">Add to list</button>


      </div>


    </div>
    <!-- <button class="spotButton" ng-repeat="business in businesses">HEY</button> -->
  </div>


</section>
