<header>
    <nav>
        <ul>
            <!--Navigation section, this is where you will put your ui-sref's so you can naviagte to different views -->
            <!-- <li ui-sref="map"><a>Map</a></li> -->
            <div ui-sref= "home" class="logo">
               <img src="./poop.jpg" />
            </div>
            <li ui-sref="spots"><a>Spots</a></li>

            <li ui-sref="list"><a>LIST</a></li>
            <li ui-sref="about"><a>ABOUT</a></li>
        </ul>
    </nav>
</header>

<section class="view-container">

<h1 class="spotTitle">Places To Visit</h1>

  <div class="spot-search-container">



    <div class="spotContain" ng-repeat="business in businesses track by $index">


      <div class="spotBox" id=$id>
        <img class="spotImg" ng-src="{{business.image_url}}" />
        <h1 class="spotName">{{business.name}}</h1>
        <h1 class="spotLocation">{{business.location.address1}}</h1>
        <p class="spotNum">Phone Number: {{business.display_phone}}</p>

        <p>
          {{business.categories.0.title}}
        </p>
        <h4 class="spotIsClosed">
          Sorry We're Closed: {{business.is_closed}}
        </h4>

        <h2 class="spotRate">Rating: {{business.rating}}</h2>
<!-- ////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////// -->
        <button class="addButton" type="button" name="button" ng-click="addToAttractionList(business)">Add to list</button>



<!-- ////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////// -->
      </div>


    </div>
    <!-- <button class="spotButton" ng-repeat="business in businesses">HEY</button> -->
  </div>


</section>
